<div class="container">
  <div class="row">
    <div class="col-md-8" style="background-color: #18BC9C;padding-bottom: 10px;padding-top: 10px">
      <div style="font-size: 50px;padding-left:15%;">
        <%= image_tag("ucas1.jpg") %>
      </div>
    </div>
    <div class="col-md-4">
      <h1>中国科学院大学</h1>
      <p style="font-size: 17px; font-family: 微软雅黑;">中国科学院大学（University of Chinese Academy of Sciences），简称“国科大”，是国家教育部正式批准成立的一所以研究生教育为主的科教融合、独具特色的高等学校。国科大的前身是中国科学院研究生院，成立于1978年，是经党中央国务院批准创办的新中国第一所研究生院，培养了中国的第一个理学博士、第一个工学博士、第一个女博士、第一个双学位博士。经教育部批准，国科大从2014年起开始招收本科生。</p>
      <!--<ul>
        <li class="text-danger">
          处理选课冲突、控制选课人数
        </li>
        <li class="text-danger">
          统计选课学分,增加选课的开放、关闭功能
        </li>
        <li class="text-danger">
          自定义管理员后台
        </li>
        <li class="text-danger">
          基于OAuth的授权登陆
        </li>
        <li class="text-danger">
          Excel格式的数据导入
        </li>
      </ul>-->
    </div>

  </div>


  </div>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info text-center">
        <h1>UCAS CourseSelect System</h1>
      </div>
    </div>
  </div>

  <div class="row" style="padding-left: 13%;">
    <div class="col-md-4">
      <h2>中国科学院大学官网</h2>
      <p>Bootstrap，来自 Twitter，是目前很受欢迎的前端框架。Bootstrap 是基于 HTML、CSS、JAVASCRIPT 的，它简洁灵活，使得 Web 开发更加快捷. 它由Twitter的设计师Mark
        Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。Bootstrap提供了优雅的HTML和CSS规范，它即是由动态CSS语言Less写成。</p>
      <a class="btn btn-info" href="http://www.gucas.ac.cn/">国科大官网</a>
    </div>

    <div class="col-md-4">
      <h2>SEP 教育业务平台</h2>
      <p>JavaScript一种直译式脚本语言,广泛用于客户端的脚本语言,是一种动态类型、弱类型、基于原型的语言，内置支持类型，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。CSS
        (Cascading Style Sheets)是一种用来表现HTML样式的样式语言,能够真正做到网页表现与内容分离。
      </p>
      <a class="btn btn-info" href="http://sep.ucas.ac.cn/d_index/WHVlamk=/">SEP平台</a>
    </div>

    <div class="col-md-4">
      <h2>国科大图书馆</h2>
      <p>新书通报</p>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      </ul>
      <div style="height: 9px;"></div>
      <a class="btn btn-info" href="http://lib.ucas.ac.cn/">图书馆</a>
    </div>
  </div>
</div>
